<div
  class="crud-table-wrapper"
  [class.crud-table-wrapper--hidden]="responsive.layoutMode() === LayoutMode.MOBILE"
>
  <div *ngIf="isLoading" class="crud-table-loading">
    <mat-icon class="spinner">refresh</mat-icon>
    <span>Carregando...</span>
  </div>

  <table
    *ngIf="!isLoading"
    mat-table
    [dataSource]="dataSource"
    class="crud-table"
    [class.crud-table--tablet]="responsive.layoutMode() === LayoutMode.TABLET"
    role="table"
    aria-label="Tabela de registros"
  >
    <ng-content></ng-content>

    <tr mat-header-row *matHeaderRowDef="effectiveColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: effectiveColumns;"></tr>
  </table>
</div>
