<div
  *ngIf="responsive.layoutMode() !== LayoutMode.MOBILE"
  class="crud-table-wrapper"
>
  <div *ngIf="isLoading" class="crud-table-loading">
    <mat-icon class="spinner">refresh</mat-icon>
    <span>Carregando...</span>
  </div>

  <table
    *ngIf="!isLoading"
    mat-table
    [dataSource]="dataSource"
    class="crud-table"
    role="table"
    aria-label="Tabela de registros"
  >
    <ng-content></ng-content>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
