<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>Corely Admin</mat-card-title>
    <mat-card-subtitle>Faça login para continuar</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form class="login-form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="seu@email.com">
        <mat-icon matPrefix>email</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Senha</mat-label>
        <input matInput type="password">
        <mat-icon matPrefix>lock</mat-icon>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="primary" class="full-width">Entrar</button>
  </mat-card-actions>
</mat-card>
