<div class="responsive-crud">
  <crud-toolbar
    [searchPlaceholder]="searchPlaceholder"
    [searchValue]="searchValue"
    (searchChange)="searchChange.emit($event)"
    [showNewButton]="showNewButton"
    [newButtonText]="newButtonText"
    (newClick)="newClick.emit()"
  >
    <div crudFilters>
      <ng-content select="[crudFilters]"></ng-content>
    </div>
  </crud-toolbar>

  <div class="responsive-crud-content">
    <div
      *ngIf="!isEmpty && responsive.layoutMode() !== LayoutMode.MOBILE"
      class="crud-table-wrapper"
    >
      <ng-content select="[crudTable]"></ng-content>
    </div>

    <div *ngIf="isLoading && !isEmpty" class="crud-table-loading">
      <mat-icon class="spinner">refresh</mat-icon>
      <span>Carregando...</span>
    </div>

    <crud-card
      *ngIf="!isEmpty && responsive.layoutMode() === LayoutMode.MOBILE"
      [items]="items"
      [trackBy]="trackBy"
      [cardTemplate]="cardTemplate || defaultCardTemplate"
    >
      <ng-template #defaultCardTemplate let-item>
        <div class="crud-card-default">Card content not provided</div>
      </ng-template>
    </crud-card>

    <crud-empty-state
      *ngIf="isEmpty"
      [icon]="emptyIcon"
      [title]="emptyTitle"
      [description]="emptyDescription"
      [showAction]="emptyShowAction"
      [actionText]="emptyActionText"
      (actionClick)="emptyActionClick.emit()"
    ></crud-empty-state>

    <ng-content select="[afterContent]"></ng-content>
  </div>
</div>
