<div class="ds-page-form" [class.ds-page-form-mobile]="isMobile">
  <div class="ds-form-content">
    <ng-content></ng-content>
  </div>
  <div class="ds-form-footer" [class.ds-form-footer-mobile]="isMobile">
    <ds-button
      [label]="cancelText"
      variant="secondary"
      [disabled]="loading"
      (click)="cancel.emit()">
    </ds-button>
    <ds-button
      [label]="submitText"
      [variant]="submitVariant"
      [loading]="loading"
      [disabled]="disabled"
      (click)="onFormSubmit()">
    </ds-button>
  </div>
</div>
