<div class="topbar">
  <div class="topbar-left">
    <button mat-icon-button class="menu-button" (click)="toggleSidebar.emit()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="topbar-title">Corely</h1>
  </div>

  <div class="topbar-right">
    <div class="user-info">
      <mat-icon class="user-icon">account_circle</mat-icon>
      <div class="user-details">
        <span class="user-name">{{ userName() }}</span>
        <span class="user-role">{{ userRole() }}</span>
      </div>
      <span class="user-studio" *ngIf="userStudio() as studio">{{ studio.name }}</span>
    </div>
  </div>
</div>
